<%= form_for(@proposal, :html => {:multipart => true})  do |f| %>
  <div class="form-group">
    <div>
      <%= f.text_field :purchase_type_id, autofocus: true, placeholder: "1", class: "form-control" %>
    </div>
    <div>
      <%= f.collection_select :car_make_id, CarMake.order(:name), :id, :name, include_blank: true %>
    </div>
    <div>
      <%= f.grouped_collection_select :car_model_id, CarMake.order(:name), :car_models, :name, :id, :name, include_blank: true %>
    </div>
    <div>
      <%= f.text_field :car_year_id, autofocus: true, placeholder: "Year", class: "form-control" %>
    </div>
    <div>
      <%= f.text_field :car_trim_id, autofocus: true, placeholder: "Ext. Color", class: "form-control" %>
    </div>
    <div>
      <%= f.text_field :car_color_id, autofocus: true, placeholder: "Int. Color", class: "form-control" %>
    </div>
    <div>
      <%= f.text_field :price, autofocus: true, placeholder: "Price", class: "form-control", required: true %>
    </div>
    <div>
      <%= f.text_field :down_payment, autofocus: true, placeholder: "Down Payment", class: "form-control" %>
    </div>
    <div>
      <%= f.text_field :lease_length, autofocus: true, placeholder: "Lease Length", class: "form-control" %>
    </div>
    <div>
      <%= f.text_field :mileage_limit, autofocus: true, placeholder: "Annual Mileage Limit", class: "form-control" %>
    </div>
    <div>
      <%= f.text_field :financing, autofocus: true, placeholder: "Financing", class: "form-control" %>
    </div>
    <div>
      <%= f.text_field :deadline, autofocus: true, placeholder: "Deadline", class: "form-control" %>
    </div>
  </div>
  <%= f.submit "Post Request" %>
<% end %>